PORT=8080
MODE=dev

# DATABASE
# DATABASE_URL="postgresql://postgres:password@localhost:5432/zafnat?schema=public"
DATABASE_URL=

# FIREBASE
TYPE=
PROJECT_ID=
PRIVATE_KEY_ID=
PRIVATE_KEY=
CLIENT_EMAIL=
CLIENT_ID=
CLIENT_CERT=

# EMAIL
EMAIL_SMPT_HOST=
EMAIL_SMPT_PORT=
EMAIL_SMPT_SERVICE=
EMAIL_SMPT_MAIL=
EMAIL_SMPT_APP_PASS=" "